body {
    background-color: #a2a2a2;
    min-width: 745px;
}

main {
    max-width: 750px;
}

.searchBox {
    background-color: #fff;
}

.forecast {
    background-color:rgba(0, 0, 0, 0.125);
    color: #343434;
}

/* .progress{
    transform: rotate(-90deg);
    width: 15%;
    height: 100px;
    float: left;
    display: inline-block;
    position: relative;
  } */

/* .graphH {
    height: 500px;
} */
